#
# Mayhem2 Configuration file
# (c)MAZsoft 2000-2001

# DOS graphics drivers:
#
#  VGA      - Standard VGA
#  MODX     - Mode-X
#  VBE1     - VESA 1.x
#  VB2B     - VBE 2.0 (banked)
#  VB2L     - VBE 2.0 (linear)
#  VBE3     - VBE 3.0
#  VBAF     - VBE/AF
#  XTND     - Xtended mode
gfx_card = 

# DOS and Linux: where to look for the VBE/AF driver
vbeaf_driver = 

# Language translation file (this can be a .cfg file on disk, or an 
# object from language.dat). Currently available translations are:
#
#  EN       - English
#  RU       - Russian
language = EN

# DOS mouse drivers:
#
#  MICK     - mickey mode driver (normally the best)
#  I33      - int 0x33 callback driver
#  POLL     - timer polling (for use under NT)
mouse = 

# Whether to emulate the third mouse button (yes or no)
emulate_three = no

[Mayhem]

# Resolution: (0 - 320x240, 1 - 640x480, 2 - 800x600, 3 - 1024x768, 4 - 1280x1024)
resolution = 0

# Player's names
p1_name = Player 1
p2_name = Player 2
p3_name = Player 3
p4_name = Player 4

[sound]

# DOS digital sound drivers:
#
#  0        - none
#  SB       - Sound Blaster (autodetect breed)
#  SB10     - Sound Blaster 1.0
#  SB15     - Sound Blaster 1.5
#  SB20     - Sound Blaster 2.0
#  SBP      - Sound Blaster Pro
#  SB16     - Sound Blaster 16
#  ESS      - ESS AudioDrive
#  ESC      - Ensoniq Soundscape
#  WSS      - Windows Sound System
digi_card = 

# DOS music drivers:
#
#  0        - none
#  OPL      - Adlib (autodetect OPL version)
#  OPL2     - OPL2 FM synth
#  OPLX     - Dual OPL2 (SB Pro-1)
#  OPL3     - OPL3 FM synth
#  SB       - raw SB MIDI interface
#  MPU      - MPU-401 MIDI interface
#  DIGI     - DIGMID software wavetable
#  AWE      - AWE32
midi_card = MPU

# sound input drivers (same format as above, can usually be left blank)
digi_input_card = 
midi_input_card = 

# how many voices to reserve for each driver
digi_voices = 
midi_voices = 

# how loud? (range 0-255)
digi_volume = 255
midi_volume = 255

# sample mixing quality (0=fastest, 1=full 16 bit precision, 2=interpolation)
quality = 

# toggling this between 0 and 1 reverses the left/right panning of samples
flip_pan = 

# DOS and Unix: sample output frequency (eg. 44100)
sound_freq = 

# DOS only: soundcard port address (usually 220)
sound_port = 

# DOS only: soundcard DMA channel (usually 1)
sound_dma = 

# DOS only: soundcard IRQ number (usually 7)
sound_irq = 

# DOS only: FM synth port address (usually 388)
fm_port = 

# DOS only: MPU-401 port address (usually 330)
mpu_port = 

# DOS only: MPU-401 IRQ number (usually the same as sound_irq)
mpu_irq = 

# DOS only: instrument definitions for the Adlib driver
ibk_file = 
ibk_drum_file = 

# patch set for the DIGMID software wavetable driver
patches = 


[key_ascii]
key1 = 1092
key2 = 1080
key3 = 1089
key4 = 1074
key5 = 1091
key6 = 1072
key7 = 1087
key8 = 1088
key9 = 1096
key10 = 1086
key11 = 1083
key12 = 1076
key13 = 1100
key14 = 1090
key15 = 1097
key16 = 1079
key17 = 1081
key18 = 1082
key19 = 1099
key20 = 1077
key21 = 1075
key22 = 1084
key23 = 1094
key24 = 1095
key25 = 1085
key26 = 1103
key65 = 1093
key66 = 1098
key68 = 1078
key69 = 1101
key72 = 1073
key73 = 1102
key60 = 1105
key74 = 46

[key_shift]
key1 = 1060
key2 = 1048
key3 = 1057
key4 = 1042
key5 = 1059
key6 = 1040
key7 = 1055
key8 = 1056
key9 = 1064
key10 = 1054
key11 = 1051
key12 = 1044
key13 = 1068
key14 = 1058
key15 = 1065
key16 = 1047
key17 = 1049
key18 = 1050
key19 = 1067
key20 = 1045
key21 = 1043
key22 = 1052
key23 = 1062
key24 = 1063
key25 = 1053
key26 = 1071
key65 = 1061
key66 = 1066
key68 = 1046
key69 = 1069
key72 = 1041
key73 = 1070
key29 = 34
key31 = 59
key33 = 58
key34 = 63
key60 = 1025
key74 = 44


[joystick]
